<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura,json,lcov,opencover,teamcity</Format>
          <Exclude>
            [NuGetTransitiveDependencyFinder.TestUtilities]*,
            [*]NuGetTransitiveDependencyFinder.ConsoleApp.Program
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
