# © Muiris Woulfe
# Licensed under the MIT License

*                   @muiriswoulfe
*.csproj            @muiriswoulfe @dependabot-bot
*.props             @muiriswoulfe @dependabot-bot
.github/workflows/  @muiriswoulfe @dependabot-bot
