<?xml version="1.0" encoding="utf-8"?>

<!-- © Muiris Woulfe. Licensed under the MIT License. -->

<configuration>
  <config>
    <add key="dependencyVersion" value="Highest" />
    <add key="globalPackagesFolder" value="..\packages\NuGetTransitiveDependencyFinder" />
    <add key="signatureValidationMode" value="require" />
  </config>

  <packageRestore>
    <add key="automatic" value="True" />
    <add key="enabled" value="True" />
  </packageRestore>

  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <solution>
    <add key="disableSourceControlIntegration" value="True" />
  </solution>

  <trustedSigners>
    <repository name="nuget.org" serviceIndex="https://api.nuget.org/v3/index.json">
      <certificate
        fingerprint="0E5F38F57DC1BCC806D8494F4F90FBCEDD988B46760709CBEEC6F4219AA6157D"
        hashAlgorithm="SHA256"
        allowUntrustedRoot="false" />
      <certificate
        fingerprint="5A2901D6ADA3D18260B9C6DFE2133C95D74B9EEF6AE0E5DC334C8454D1477DF4"
        hashAlgorithm="SHA256"
        allowUntrustedRoot="false" />
      <certificate
        fingerprint="1F4B311D9ACC115C8DC8018B5A49E00FCE6DA8E2855F9F014CA6F34570BC482D"
        hashAlgorithm="SHA256"
        allowUntrustedRoot="false" />
      <owners>
        dennisdoomen;
        dotnetfoundation;
        ericnewton76;
        jamesnk;
        JarLob;
        jonorossi;
        jpihrt;
        kzu;
        Microsoft;
        onovotny;
        semih.okur;
        sharwell;
        SonarSource;
        tonerdo;
        xunit;
      </owners>
    </repository>
  </trustedSigners>
</configuration>
