# © Muiris Woulfe
# Licensed under the MIT License

name: Build

on:
  pull_request:
  push:
  schedule:
  - cron: '0 0 * * 1'

jobs:
  build-debug:
    name: Build – Debug
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.101

    - name: Install NuGet Dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Debug --no-restore /maxCpuCount

    - name: Test
      run: >-
        dotnet test
        --configuration Debug
        --no-build
        /property:CollectCoverage=true
        /property:CoverletOutputFormat=opencover

  build-release:
    name: Build – Release
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Install Java
      uses: actions/setup-java@v1
      with:
        java-version: 15

    - name: Install .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.101

    - name: Install NuGet Dependencies
      run: dotnet restore

    - name: SonarCloud – Cache Packages
      uses: actions/cache@v2
      with:
        path: ~\sonar\cache
        key: ${{ runner.os }}-sonar
        restore-keys: ${{ runner.os }}-sonar

    - name: SonarCloud – Cache Scanner
      id: cache-sonar-scanner
      uses: actions/cache@v2
      with:
        path: .\.sonar\scanner
        key: ${{ runner.os }}-sonar-scanner
        restore-keys: ${{ runner.os }}-sonar-scanner

    - name: SonarCloud – Install Scanner
      if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
      shell: pwsh
      run: |
        New-Item -Path .\.sonar\scanner -ItemType Directory
        dotnet tool update dotnet-sonarscanner --tool-path .\.sonar\scanner

    - name: SonarCloud – Initialize
      shell: pwsh
      run: >-
        .\.sonar\scanner\dotnet-sonarscanner
        begin
        /k:"${{ github.repository_owner }}_${{ github.event.repository.name }}"
        /o:"${{ github.repository_owner }}"
        /d:sonar.login="${{ secrets.SONAR_TOKEN }}"
        /d:sonar.host.url="https://sonarcloud.io"
        /d:sonar.cs.opencover.reportsPaths=**/coverage.opencover.xml

    - name: Build
      run: dotnet build --configuration Release --no-restore /maxCpuCount

    - name: Test
      run: >-
        dotnet test
        --configuration Release
        --no-build
        /property:CollectCoverage=true
        /property:CoverletOutputFormat=opencover

    - name: SonarCloud – Analyze
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      shell: pwsh
      run: .\.sonar\scanner\dotnet-sonarscanner end /d:sonar.login="${{ secrets.SONAR_TOKEN }}"

  validate:
    name: Validate
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: EditorConfig – Download
      run: >-
        curl -L
        ${{ github.server_url }}/editorconfig-checker/editorconfig-checker/releases/download/2.2.0/ec-linux-amd64.tar.gz
        > ec-linux-amd64.tar.gz

    - name: EditorConfig – Extract
      run: tar zxvf ec-linux-amd64.tar.gz

    - name: EditorConfig – Validate
      run: ./bin/ec-linux-amd64

    - name: Markdown – Validate
      uses: nosborn/github-action-markdown-cli@v1.1.1
      with:
        files: '**/*.md'
        config_file: .markdownlint.json

    - name: Markdown – Validate .github
      uses: nosborn/github-action-markdown-cli@v1.1.1
      with:
        files: .github/*.md
        config_file: .markdownlint.json

    - name: Markdown – Validate .github subdirectories
      uses: nosborn/github-action-markdown-cli@v1.1.1
      with:
        files: .github/**/*.md
        config_file: .markdownlint.json

    - name: Markdown – Validate Links
      uses: gaurav-nelson/github-action-markdown-link-check@1.0.11

    - name: Security Scan – Validate
      uses: ShiftLeftSecurity/scan-action@v1.3.0
      with:
        type: credscan,depscan

    - name: Security Scan – Upload Report
      uses: github/codeql-action/upload-sarif@v1
      with:
        sarif_file: reports

    - name: Infer# – Run
      id: run_infer_sharp
      uses: microsoft/infersharpaction@v0.2
      with:
        binary-path: srcc

    - name: Infer# – Analysis Results
      run: echo "${{ steps.run_infer_sharp.outputs.results }}"

  validate-codeql:
    name: Validate – CodeQL
    runs-on: windows-latest

    steps:
    - name: Configure Pagefile
      uses: al-cheb/configure-pagefile-action@v1.2
      with:
        maximum-size: 32GB

    - name: Checkout
      uses: actions/checkout@v2

    - name: CodeQL – Initialize
      uses: github/codeql-action/init@v1
      with:
        queries: security-and-quality

    - name: CodeQL – Build
      uses: github/codeql-action/autobuild@v1

    - name: CodeQL – Analyze
      uses: github/codeql-action/analyze@v1
