# © Muiris Woulfe
# Licensed under the MIT License

name: Release – Manual

on:
  workflow_dispatch:
    inputs:
      release:
        description: 'Release'
        required: true

jobs:
  create-nuget:
    name: Create NuGet Package
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    - name: Install NuGet Dependencies
      run: >-
        dotnet restore
        ./src/NuGetTransitiveDependencyFinder/NuGetTransitiveDependencyFinder.csproj

    - name: Build
      run: >-
        dotnet build
        --configuration Release
        --no-restore
        /maxCpuCount
        ./src/NuGetTransitiveDependencyFinder/NuGetTransitiveDependencyFinder.csproj

    - name: Delete XML Documentation
      run: rm ./src/NuGetTransitiveDependencyFinder/bin/NuGetTransitiveDependencyFinder.xml

    - name: Pack
      run: >-
        dotnet pack
        --configuration Release
        --no-build
        /property:RepositoryCommit=${{ github.sha }}
        ./src/NuGetTransitiveDependencyFinder/NuGetTransitiveDependencyFinder.csproj

    # - name: Upload – NuGet.org
    #   run: >-
    #     dotnet nuget push
    #     ./src/NuGetTransitiveDependencyFinder/bin/Release/*.nupkg
    #     --api-key ${{ secrets.NUGET_API_KEY }}
    #     --source https://api.nuget.org/v3/index.json
    #     --skip-duplicate

    - name: Upload – Add GitHub
      run: >-
        dotnet nuget add source https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
        --name github

    - name: Upload – GitHub
      run: >-
        dotnet nuget push
        ./src/NuGetTransitiveDependencyFinder/bin/Release/*.nupkg
        --api-key ${{ secrets.GITHUB_TOKEN }}
        --source github
        --skip-duplicate

  create-asset:
    name: Create Asset
    runs-on: ubuntu-latest

    strategy:
      matrix:
        runtime: [linux-arm, linux-arm64, linux-musl-x64, linux-x64, osx-x64, win-arm, win-arm64, win-x64, win-x86]

    env:
      project: NuGetTransitiveDependencyFinder.ConsoleApp
      extension: >-
        {
          linux: '',
          osx: '',
          win: '.exe'
        }

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    - name: Publish
      run: >-
        dotnet publish
        --runtime ${{ matrix.runtime }}
        --configuration Release
        --self-contained true
        /maxCpuCount
        /property:PublishSingleFile=true
        /property:PublishTrimmed=true
        ./src/${{ env.project }}/${{ env.project }}.csproj

    - name: Extract Platform from Runtime
      uses: jungwinter/split@v1
      id: split
      with:
        msg: ${{ matrix.runtime }}
        seperator: '-'

    - name: Set Current Extension
      id: setter
      run: echo '::set-output name=current_extension::${{ fromJson(env.extension)[steps.split.outputs._0] }}'

    - name: Get Release URL
      id: get-release-url
      uses: pdamianik/release-tag-to-upload-url-action@v1.0.1
      with:
        tag: ${{ github.event.inputs.release }}
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.get-release-url.outputs.uploadUrl }}
        asset_path: >-
          ${{ github.workspace }}/src/${{ env.project }}/bin/Release/net5.0/${{ matrix.runtime }}/publish/${{ env.project }}${{ steps.setter.outputs.current_extension }}
        asset_name: NuGetTransitiveDependencyFinder.${{ matrix.runtime }}${{ steps.setter.outputs.current_extension }}
        asset_content_type: application/octet-stream
